<h1 class="form-title">SignUp</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-container">
  <%= form_with(model: @user, url: users_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="actions">
      <%= f.submit "Register" %>
    </div>
  <% end %>
</div>
